[submodule "cva6"]
	path = cva6
	url = https://github.com/openhwgroup/cva6
[submodule "axi"]
	path = axi
	url = https://github.com/pulp-platform/axi
[submodule "obi"]
	path = obi
	url = https://github.com/pulp-platform/obi
[submodule "safety_island"]
	path = safety_island
	url = https://github.com/pulp-platform/safety_island
[submodule "common_cells"]
	path = common_cells
	url = https://github.com/pulp-platform/common_cells
